body {
      
  background-image: url("https://images.pexels.com/photos/801863/pexels-photo-801863.jpeg");
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center; 
  height: 300px; 
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
     
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #2c0a1f;
  color: #16e203;
  text-align: center;
  padding: 0px;
  font-size: 14px;
  font-family: "Monoton", sans-serif;
  box-shadow: 0 4px 8px rgba(84, 255, 4, 0.808);
  word-spacing: 8px;
}

header img {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
  height: auto;
  margin: 0;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(84, 255, 4, 0.808);
}


.container {
  background-color: rgb(0, 0, 0);
  padding: 13px;
  border-radius: 12px;
  box-shadow: 0 4px 8px #16e203;
  width: 300px;
}

h1 {
  text-align: center;
  color: #16e203;
  font-size: 36px;
  margin-bottom: 20px; 
  font-family: 'Monoton', sans-serif;
  text-shadow: 2px 2px 4px rgba(9, 255, 0, 0.5);
  font-weight: 400;
  font-style: normal;
  word-spacing: 8px;
  letter-spacing: 2px;
}

p {
  text-align: center;
  color: #d6c808;
  font-size: 18px;
  margin-bottom: 20px; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px 4px rgba(9, 255, 0, 0.5);
  font-weight: 400;
  font-style: normal;
}

h2 {
  text-align: center;
  color: #ff085a;
  font-size: 54px;
  margin-bottom: 80px; 
  font-family: "Monoton", sans-serif;
  text-shadow: 2px 2px 4px rgba(9, 255, 0, 0.5);
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-color: #f1c605;
  text-decoration-thickness: 2px;   
 
}     

form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #d6c808;
  font-size: 18px;  
  font-weight: 500;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 300px;
  padding: 10px;
  background-color: #2c0a1f;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(84, 255, 4, 0.808);
  backdrop-filter: blur(20px);

}

label {
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "Monoton", sans-serif;
  color: #4eff08;
  font-size: 30px; 
}

input {
  padding: 8px;
  border: 1px solid #f10d0d;
  border-radius: 6px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #ff085a;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 20px;
  font-weight: bold;
  color: #444;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #2c0a1f;
  color: #16e203;
  font-size: 14px;
}
